# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
.env/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# IDE / editor
.vscode/
.idea/

# macOS
.DS_Store

# Test / coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Docker / Compose artifacts
*.pid
.dockerignore

# Markdown docs (optional)
*.md
